* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #093426;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    color: #FD4D0C;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 5px 5px 0 #00000099, -5px -5px 0 #9b2f07, 0 0 10px black, 0 0 20px #fe6e2e, 0 0 30px #fe6e2e;
}

.btn {
    width: 150px;
    background-color: #F7DDD4;
    color: #FD4D0C;
    font-weight: 600;
    padding: 4px 0;
    border: 1px solid #14B884;
    border-radius: 8px;
    position: absolute;
    box-shadow: -3px 3px 4px #888, inset 0 0 8px #927a73;
}

.btn:hover {
    scale: .98;
}

.btn:active {
    box-shadow: inset 0 0 16px #927a73;
}

.btn:disabled {
    background-color: #927a73;
    color: #888;
    border-color: #9b2f07;
    scale: .98;
    box-shadow: none;
}

.btn:disabled:active {
    box-shadow: none;
}

.blog-btn {
    top: 20px;
    right: 30px;
}

.rules-btn {
    top: 55px;
    right: 30px;
}

.start-btn {
    top: 90px;
    right: 30px;
}

.rules {
    background-color: #14B884;
    color: #093426;
    padding: 10px 30px;
    border-left: 4px solid #FD4D0C;
    width: 40%;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    right: 0;

    transition: right 500ms;
}

.blog {
    background-color: #14B884;
    color: #093426;
    padding: 10px 30px;
    border-left: 4px solid #FD4D0C;
    width: 40%;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    right: 0;

    transition: right 500ms;
}

.close {
    position: absolute;
    color: snow;
    background-color: #c03535;
    top: 10px;
    left: 10px;
}

h2 {
    text-align: center;
}

.rules-content>h3 {
    text-align: center;
}

small {
    color: #F7DDD4;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

span {
    font-style: italic;
    text-decoration: underline;
    color: #F7DDD4;
}

.hidden {
    right: -40%;
}

.game-over {
    width: 168px;
    height: 1.5em;
    background-color: #000;
    color: red;
    font-family: 'Impact', 'Arial Black', sans-serif;
    border-radius: 4px;
    text-align: center;
    font-size:x-large;

    position: relative;
    top: 275px;
    padding: 3px 8px;

    visibility: hidden;
}

.win {
    background-color: #093426;
    color: #14B884;
    text-shadow: 0 -1px #F7DDD4, 0 1px #F7DDD4, 1px 0 #F7DDD4, -1px 0 #F7DDD4;
}

canvas {
    background-color: #F7DDD4;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #888, -4px 4px 4px #888;
    margin-bottom: 150px;
}

